src/**
test/**
out/**
node_modules/**
.vscode/**
.vscode-test/**
.claude/**
esbuild.js
vitest.config.ts
tsconfig.json
tsconfig.webview.json
eslint.config.mjs
.vscode-test.mjs
.vscode-test.mjs.tobedeleted
pnpm-config.yaml
pnpm-lock.yaml
pnpm-workspace.yaml
**/*.map
**/*.test.ts
**/*.d.ts
.gitignore
